* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}
.App {
  text-align: center;
}
.show {
  display: inline-block;
}
.hidden {
  display: none;
}
.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: #fff;
  border: 1px solid rgb(197, 66, 66);
  background-color: rgb(197, 66, 66);
}
.show,
.hidden {
  margin-left: 5px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.cards-wrapper {
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border: 4px solid rgb(66, 60, 60);
  border-radius: 10px;
  max-height: 600px;
}
.left-card {
  overflow: auto;
  border-radius: 10px;
  padding: 0 10px;
  transition: box-shadow 0.2s linear;
}
.left-card:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.card {
  padding: 10px 0;
  border-bottom: 1px solid rgb(9, 255, 0);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
